maximum_availability_zones: 5

hostname: aurora2
hostname_read_endpoint: aurora2-reader

# Aurora Engine and family
engine: aurora-mysql
family: aurora-mysql5.7


# db_name: project_db

# master_login:
#   username_ssm_param: /rds/AURORA_USER
#   password_ssm_param: /rds/AURORA_MASTER_PASSWORD

cluster_parameters:
  character_set_database: latin1
  character_set_client: latin1
  character_set_connection: latin1
  character_set_filesystem: latin1
  character_set_results: latin1
  character_set_server: latin1
  collation_connection: latin1_general_ci
  collation_server: latin1_general_ci
  lower_case_table_names: '1'

instance_parameters:
  max_allowed_packet: '52428800'
  log_bin_trust_function_creators: '1'
  wait_timeout: '3600'

# Set `ip_blocks` here or export from vpc component
ip_blocks:
  local:
    - 127.0.0.1/32


security_group:
  -
    rules:
      -
        IpProtocol: tcp
        FromPort: 3306
        ToPort: 3306
    ips:
      - stack
